<html>
<head>
<title>EEL JPath Expression Debugger</title>
<style>
body 		{background-color:black}
h1   		{color:green; font-family:verdana;}
h2   		{color:green; font-family:verdana;}
h3   		{color:green; font-family:verdana;}
p    		{color:green; font-family:verdana;}
td    		{color:green; font-family:verdana; text-align: left; vertical-align:bottom;}
th    	 	{color:green; font-family:verdana; text-align: left; vertical-align:bottom;}
textarea 	{border-radius: 5px; color:#555555; font-family:verdana; font-size: 16px;}
p.error		{color: red;}
</style>
</head>
<body>
<div align="center">
<h1>EEL JPath Expression Debugger</h1>
<!--<p><img src="/img/eel.png" width="250"/></p>-->
<form action="/test/ast" method="POST">
<p class="error">{{.ErrorMessage}}</p>
<div><input type="submit" value="Parse"></div>
<h3>JSON Event:</h3>
<textarea name="message" rows="8" cols="80">{{.Message}}</textarea>
<h3>JPath Expression:</h3>
<textarea name="expression" rows="3" cols="80">{{.Expression}}</textarea>
<h3>Result:</h3>
<textarea name="result" rows="3" cols="80">{{.Result}}</textarea>
<h3>Named Transformations:</h3>
<textarea name="transformations" rows="3" cols="80">{{.Transformations}}</textarea>
<h3>Custom Properties:</h3>
<textarea name="customproperties" rows="3" cols="80">{{.CustomProperties}}</textarea>
</form>
<table>
{{ range $hdx, $tree := .Lists }}
  <tr><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th></tr>
  <tr><th>LEVEL</th><th>TYPE</th><th>#KIDS</th><th>VALUE</th><th>MTYPE</th><th>MVALUE</th></tr>
  {{ range $idx, $row := $tree }}
    <tr>
      {{ range $kdx, $val := . }}<td>{{ $val }}</td>{{ end }}
    </tr>
  {{ end }}
{{ end }}
</table>
</div>
</body>
</html>
