<html>
<head>
<title>EEL Transformation Debugger</title>
<style>
body 		{background-color:black}
h1   		{color:green; font-family:verdana;}
h2   		{color:green; font-family:verdana;}
h3   		{color:green; font-family:verdana;}
p 	   		{color:green; font-family:verdana;}
td    		{color:green; font-family:verdana; text-align: left; vertical-align:bottom;}
th    	 	{color:green; font-family:verdana; text-align: left; vertical-align:bottom;}
textarea 	{border-radius: 5px; color:#555555; font-family:verdana; font-size: 16px;}
p.error		{color: red;}
</style>
</head>
<body>
<div align="center">
<h1>EEL Transformation Debugger</h1>
<!--<p><img src="/img/eel.png" width="250"/></p>-->
<p class="error">{{.ErrorMessage}}</p>
<p>
<form action="/v1/test/handlers" method="POST" id="select">
<input type="hidden" name="newhandlerselected" value="true">
<select onchange="this.form.submit()" name="handler">
{{range .AllHandlerNames}}
<option value="{{.}}"{{if eq . $.SelectedHandler}} selected{{end}}>{{.}}</option>
{{end}}
</select>
</form>
</p>
<table>
<tr>
<td>TenantId/Name</td><td>{{.SelectedHandler}}</td>
</tr><tr>
<td>Version</td><td>{{.CurrentHandler.Version}}</td>
</tr><tr>
<td>Info</td><td>{{.CurrentHandler.Info}}</td>
</tr><tr>
<td>File</td><td>{{.CurrentHandler.File}}</td>
</tr><tr>
<td>Active</td><td>{{.CurrentHandler.Active}}</td>
</tr><tr>
<td>TerminateOnMatch</td><td>{{.CurrentHandler.TerminateOnMatch}}</td>
</tr><tr>
<td>Endpoint</td><td>{{.CurrentHandler.Endpoint}}</td>
</tr><tr>
<td>Path</td><td>{{.CurrentHandler.Path}}</td>
</tr><tr>
<td>Verb</td><td>{{.CurrentHandler.Verb}}</td>
</tr><tr>
<td>Protocol</td><td>{{.CurrentHandler.Protocol}}</td>
</tr>
</table>
<form action="/v1/test/handlers" method="POST" id="transform">
<div><input type="submit" value="Transform"></div>
<input type="hidden" name="handler" value="{{.SelectedHandler}}">
<p></p>
<table>
<tr>
<th>Incoming JSON Event:</th>
<th>Transformation:</th>
<th>Outgoing JSON Event:</th>
</tr>
<tr>
<td>
</td>
<td>
<input type=checkbox name="istbe"{{if .IsTBE}} checked{{end}}>Is Template By Example</input>
</td>
<td>
</td>
</tr>
<tr>
<td>
<textarea name="message" rows="20" cols="60">{{.Message}}</textarea>&nbsp;
</td>
<td>
<textarea name="transformation" rows="20" cols="60">{{.Transformation}}</textarea>&nbsp;
</td>
<td>
<textarea name="result" rows="20" cols="60" readonly="true">{{.Response}}</textarea>
</td>
</tr>
<tr>
<th></th>
<th>Headers:</th>
<th>Headers Out:</th>
</tr>
<tr>
<td>
</td>
<td>
<textarea name="headers" rows="10" cols="60">{{.Headers}}</textarea>&nbsp;
</td>
<td>
<textarea name="headersout" rows="10" cols="60" readonly="true">{{.HeadersOut}}</textarea>&nbsp;
</td>
</tr>
<tr>
<th></th>
<th>Custom Properties:</th>
<th></th>
</tr>
<tr>
<td>
</td>
<td>
<textarea name="customproperties" rows="10" cols="60">{{.CustomProperties}}</textarea>&nbsp;
</td>
<td>
</td>
</tr>
<tr>
<th></th>
<th>Filters:</th>
<th></th>
</tr>
<tr>
<td>
</td>
<td>
<textarea name="filters" rows="10" cols="60">{{.Filters}}</textarea>
</td>
<td>
</td>
</tr>
<tr>
<th></th>
<th>Named Transformations:</th>
<th></th>
</tr>
<tr>
<td>
</td>
<td>
<textarea name="transformations" rows="10" cols="60">{{.Transformations}}</textarea>&nbsp;
</td>
<td>
</td>
</tr>
</table>
<p><div><input type="submit" name="savechanges" value="Save Changes To Disk"></div></p>
</form>
</div>
</body>
</html>

